:root{
    --branco-principal:#ffffff;
    --cinza-secundario:hsl(0, 0%, 75%);
    --botao-azul:#167BF7;
    --cor-de-fundo:00O30C;
}

*{
    margin:0;
    padding:0;
   
}

.container-principal{
    background-image: url('Background.png');
    
}
   

